* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    padding: 20px;
}

p{
    line-height: 25px;
}

header.header_home{
    background-image: url(../image/phonggym1.jpg);
    height: 800px;
    font-size: 40px;
    color:	#FFFAF0;
    padding: 300px 50px;
    margin: -20px;
}

nav{
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

nav ul li {
    float: right;
}

nav ul li a,
.dropbtn {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: #FF6600;
    cursor: pointer;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

ul li .dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Landing page */

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}

footer div.left_footer{
    color: #ff6600;
    width: 50%;
    padding: 70px 30px;
    float: left;
}
 
footer{
    background: rgba(24, 20, 20,0.9);
    height: 300px;
    margin-top: -20px;
}

footer .left_footer ul{
    list-style-type: none;
}

footer .left_footer ul li{
    line-height: 30px;
}

footer .left_footer ul li a{
    text-decoration: none;
    color: #FF6600   ;
}

footer .right_footer {
    float: left;
    width: 50%;
}

h3{
    font-size: 22px;
    padding: 3px;
}

#home .info_main1{
    height: 530px;
    margin: -20px;
    background:#cfcaca;
}

.info_main1 .info_main1_1{
    float: left;
    width: 50%;
    height: 250px;
    padding: 10px;
}

.info_main1 .info_main1_1 .left_home1,
.right_img_home1,
.right_home1,
.left_img_home1{
    width: 50%;
    float:left;
    padding: 10px;
}

.info_main1 .info_main1_1 .right_img_home1 img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_main1 .info_main1_1 .left_img_home1 img{
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home .info_main2{
    background-image: url(../image/gym3.png);
    background-size: 100%;
    height: 550px;
    margin: -19px;
    padding: 30px;
    color: 	#FFFAFA;
}

#home .info_main2 ul {
    line-height: 25px;
    padding-left: 50px;
}

#home .info_main3{
    background:#cfcaca;
    height: 400px;
    margin: -19px;
    padding: 30px;
}

#home .info_main3 .left_info_main3{
    width: 40%;
    float:left;
}

#home .info_main3 .right_info_main3{
    width: 60%;
    float:left;
}

#home .info_main3 .right_info_main3 img{
    float: right;
    margin-right: 20px;
    max-width: 25%;
    max-height: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#home .info_main4{
    background-image: url(../image/gym6.jpg);
    background-size: 100%;
    height: 400px;
    margin: -19px;
    padding: 30px;
    color: 	#FFFAFA;
}

h4{
    color: #d35501f5;
}

#home .info_main4 .comment{
    width: 33%;
    float: left;
    padding: 20px;
}

#home .info_main4 .comment .avata img{
    max-width: 30%;
    border-radius: 50%;
}

#home .info_main4 .comment h4{
    line-height: 30px;
}

div.add{
    margin-top: 20px;
}

div.add a{
    text-decoration: none;
    color: 	#FFFAFA;
    background-color: #d35501f5;
    padding: 10px;
    margin: 10px;
}

div.add a:hover{
    background-color: rgb(92, 68, 77);
}

#info .video {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid rgb(41, 41, 41);
}

#info .info1{
    background:#cfcaca;
    height: 450px;
    margin: -19px;
    padding: 30px;
}

#info .info1 .right_info1,
.left_info1{
    width: 50%;
    float: right;
}

#info .info1 .left_info1 img{
    max-width: 55%;
    max-height: auto;
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#info header.header_info{
    background-image: url(../image/gym13.jpg);
    background-size: 100%;
    height: 400px;
    font-size: 25px;
    color: #ff6600;
    margin: -20px;
}

#info .info2{
    height: 450px;
    margin: -19px;
    padding: 30px;
    background-size: 100%;
}

#info .info2 .right_info2{
    width: 50%;
    float: left;
    color: 	#FFFAFA;
}

#info .info1 .left_info3 img{
    max-height: 20%;
    max-width: 20%;
    margin-left: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header.header_khoa{
    background-image: url(../image/gym2.jpg);
    background-size: 100%;
    height: 400px;
    font-size: 25px;
    color: #ff6600;
    margin: -20px;
}

#khoahoc .khoa1{
    background-image: url(../image/vothuat.jpg);
    background-size: 100%;
    height: 600px;
    margin: -20px;
}

#khoahoc .khoa2{
    background-image: url(../image/yoga.jpg);
    background-size: 100%;
    height: 600px;
    margin: -20px;
}

#khoahoc .khoa3{
    background-image: url(../image/cử\ tạ\ -\ Copy.jpg);
    background-size: 100%;
    height: 600px;
    margin: -20px;
}

#khoahoc .khoa4{
    background-image: url(../image/child2.jpg);
    background-size: 100%;
    height: 600px;
    margin: -20px;
}

.khoa1 h4,
.khoa2 h4,
.khoa3 h4,
.khoa4 h4{
    color: 	#FFFAFA;
    padding: 250px 0 0 35px;
    font-size: 35px;
}

.khoa1 h4 ~ p,
.khoa2 h4 ~ p,
.khoa3 h4 ~ p,
.khoa4 h4 ~ p{
    color: 	#FFFAFA;
    padding: 25px 0 0 35;
    font-size: 17px;
}

.khoa1 .add,
.khoa2 .add,
.khoa3 .add,
.khoa4 .add{
    padding: 15px 0 0 30px;
} 

#new .fix_new{
    height: 750px;
    margin: -20px;
    background:#cfcaca;
}

#new .header_new{
    background-image: url(../image/link1.jpg);
    background-size: 100%;
    height: 400px;
    font-size: 25px;
    color: #ff6600;
    margin: -20px;
}

#new .fix_new .info_new{
    float: left;
    width: 30%;
    border: 1px solid rgb(83, 83, 83);
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    height: 350px;
    background: #f5f5f5;
}

#new .fix_new .info_new img{
    max-width: 100%;
}

#new .fix_new .info_new h5,
p{
    padding: 10px;
}

#new .fix_new .info_new h5 a{
    text-decoration: none;
    color: #ff6600;
    font-size: 20px;
    text-indent: 20px;
}

#link1 .bimg1{
    background-image: url(../image/link2.jpg);
    background-size: 100%;
    margin: -20px;
}

#link1 .bimg1  #info1_link1{
    width: 50%;
    height: 470px;
    padding: 50px 30px 30px 30px;
    
}

#link1 .bimg2{
    background-image: url(../image/link1.jpg);
    background-size: 100%;
    margin: -20px;
}

#link1  .bimg2 #info2_link1{
    width: 50%;
    height: 450px;
    padding: 50px 30px 30px 30px;
}   

#link1 .bimg3{
    background-image: url(../image/vothuat\ -\ Copy.jpg);
    background-size: 100%;
    margin: -20px;
}

#link1  .bimg3 #info3_link1{
    width: 50%;
    height: 450px;
    padding: 50px 30px 30px 30px;
}

#link1 .bimg4{
    background-image: url(../image/link4.jpg);
    background-size: 100%;
    margin: -20px;
}

#link1  .bimg4 #info4_link1{
    width: 50%;
    height: 500px;
    padding: 50px 30px 30px 30px;
}

h6{
    font-size: 30px;
    color: 	#FFFAFA;
}

#link2 #info1_link2,
#info2_link2,
#info3_link2{
    width: 50%;
    height: 450px;
    padding: 50px 30px 30px 30px;
    color: 	#FFFAFA;
}

#link2 .info1{
    background-image: url(../image/cross2.jpg);
    background-size: 100%;
    margin: -20px;
}

#link2 .info2{
    background-image: url(../image/burn.jpg);
    background-size: 100%;
    margin: -20px;
}

#link2 .info3{
    background-image: url(../image/yoga.jpg);
    background-size: 100%;
    margin: -20px;
}

#link3 .fix{
    background-image: url(../image/vothuat\ -\ Copy.jpg);
    background-size: 100%;
    height: 500px;
    margin: 0 -20px 0 -30px;
}

#link3 .fix #info_link3{
    width: 50%;
    padding: 50px 30px 30px 30px;
}

#link4 .fix1{
    background-image: url(../image/child2.jpg);
    background-size: 100%;
    height: 500px;
    margin: -20px;
}

#link4 .fix1 #info_link4{
    width: 50%;
    padding: 50px 30px 30px 30px;
}

caption{
    font-size: 20px;
    color: #FF6600;
}

#contrac .header_contrac{
    background-image: url(../image/phonggym1.jpg);
    background-size: 100%;
    height: 400px;
    font-size: 25px;
    color: #ff6600;
    margin: -20px;
}

.fix4{
    background:#fafafa;
    margin: -20px ;
    margin-top: -50px;
}

.fix4 form{
    width: 800px;
    height: 400px;
    margin: 50px 440px;
}

.fix4 form table {
    background-color: rgba(132, 159, 160,0.1);
    padding: 25px;
    border-radius: 5px;
}

.fix4 form table tr th{
    text-align: right;
}

div.list_link2 ul,
div.list_link1 ul{
    list-style-type: none;
    margin:20px 20px 20px -20px;

}
div.list_link2 ul li a,
div.list_link1 ul li a{
    float: left;
    text-decoration: none;
    display: block;
    margin: 5px;
    color:	#FFFAFA;
    background-color: rgb(74, 76, 77);
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
div.list_link2 ul li a:hover,
div.list_link1 ul li a:hover{
    background-color: #d35501f5;
}