* {
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}


/* Header/logo tiêu đề */
header{
    background-image: url(../image/phonggym1.jpg);
    height: 800px;
    font-size: 40px;
    color: white;
    padding: 300px 50px;
}

nav{
    position: sticky;
    top: 0;
}

section {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

nav ul li {
    display: inline;
    float: right;
}

nav ul li a,
.dropbtn {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: #FF6600;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

ul li .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Landing page */

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}

footer{
    background: black;
}

footer div.left_footer{
    color: bisque;
    padding: 100px 50px;
}

footer .left_footer ul{
    list-style-type: none;
}

footer .left_footer ul li{
    line-height: 30px;
}

footer .left_footer ul li a{
    text-decoration: none;
    color: bisque   ;
}

h3{
    font-size: 25px;
    padding: 20px;
}

#home .info_main1{
    height: 450px;
    margin: -19px;
    background:#d0d0d0;
}

.info_main1 .info_main1_1{
    float: left;
    width: 50%;
    height: 200px;
    padding: 10px;
}

.info_main1 .info_main1_1 .left_home1,
.right_img_home1,
.right_home1,
.left_img_home1{
    width: 50%;
    float:left;
    padding: 10px;
}

.info_main1 .info_main1_1 .right_img_home1 img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_main1 .info_main1_1 .left_img_home1 img{
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home .info_main2{
    background-image: url(../image/gym3.png);
    background-size: 100%;
    height: 450px;
    margin: -19px;
    padding: 30px;
    color: white;
}

#home .info_main2 ul {
    line-height: 25px;
    padding-left: 50px;
}

#home .info_main3{
    background:#d0d0d0;
    height: 400px;
    margin: -19px;
    padding: 30px;
}

#home .info_main3 .left_info_main3{
    width: 40%;
    float:left;
}

#home .info_main3 .right_info_main3{
    width: 60%;
    float:left;
}

#home .info_main3 .right_info_main3 img{
    float: right;
    padding-right: 20px;
    max-width: 25%;
    max-height: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#home .info_main4{
    background-image: url(../image/gym6.jpg);
    background-size: 100%;
    height: 400px;
    margin: -19px;
    padding: 30px;
    color: white;
}

h4{
    color: #FF6600;
}

#home .info_main4 .comment{
    width: 33%;
    float: left;
    padding: 20px;
}

#home .info_main4 .comment .avata img{
    max-width: 30%;
    border-radius: 50%;
}

#home .info_main4 .comment h4{
    line-height: 30px;
}

#info .info1{
    background:burlywood;
    height: 400px;
    margin: -19px;
    padding: 30px;
}

#info .info1 .right_info1{
    width: 50%;
    float: right;
}

#info .info2{
    height: 400px;
    margin: -19px;
    padding: 30px;
}

#info .info2 .right_info2{
    width: 50%;
    float: left;
}
